{% extends 'base.html' %} {% block content%}
<h1 class='my-sandwiches'>My Sandwiches</h1>
<hr />
<div class="container text-center">
    <div class="row row-cols-4" id='sandwich-grid'>
        {% if sandwiches.count %}
        {% for sandwich in sandwiches %}
        <div class="col" id='sandwich-list-card'>
            <a href="{% url 'detail' sandwich.id %}">
                <div class='card'>
                <div class='square-content'>
                    {% load static %}<img src='{% static "images/sandwich.png" %}'>
                    <span class="square-title">{{ sandwich.name }}</span>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class = 'no-sandwiches'>
<h2 class='no-sandwiches-h2'>You don't have any Sandwiches yet!</h2>
<a href="{% url 'sandwiches_create' %}"class='no-sandwiches-link'>Make A Sandwich!</a>
</div>
{% endif %}
{%endblock%}