body {
    background-color: white
}

nav {
    background-color: blanchedalmond;
    border-bottom: 3px solid #Bfa88c;
    margin-bottom: 10vh;
    padding-left: 20px;
}

nav a{
    color: black;
    font-size: larger;
}

.navbar-brand {
    font-size: x-large;
    font-weight: 700;
}

.navbar-brand:hover {
    color: black;
}

.navbar-nav .nav-link {
    color: black;
}

.home-page {
    display: flex;
    font-size: x-large;
}

.left-half {
    position: absolute;
    width: 50%;
    left: 5vw;
}

.sandwich-name {
    padding-left: 25px;
}

#carouselExampleIndicators {
    border: 2px solid black;
    box-shadow: -10px 12px 14px 0px rgba(0,0,0,0.75);
}

#welcome-card {
    position: absolute;
    right: 10vw;
    height: 600px;
    border: 2px solid black;
    text-align: center;
    padding-top: 20px;
}

.welcome-card-links {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#welcome-card a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#welcome-card a:hover {
    text-decoration: underline;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 25%;
    height:50vh;
    row-gap: 2em;
    justify-content: center;
    padding-left: 25px;
}

.my-sandwiches {
    text-align: center;
}

#sandwich-grid a {
    text-decoration: none;
}

#sandwich-grid a:hover {
    text-decoration: underline;
}

.square-content {
    height: 200px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding-top: 35px;
    text-align: justify
}

.square-title {
    font-size: x-large;
    color: black;
}
